/* style globalne*/


:root {
    --niebieski:#7AA1CE;
    --różowy:#CB68B9;
    --fioletowy:#3f0347;
    --żółty:#F5DF5F;

}

*{
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0; /*brak przerw na początku */
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    color:var(--fioletowy);
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width:1480px) {
    .container {
        max-width: auto;
        width:100%;
        padding: 0 20px;
    }
}

/* Typography */
h1, h2, h3 {
	margin: 0;
}

h2, h3 {
	font-weight: 100;
	margin: 0 0 20px;
	line-height: 1;
}

h2 {
	font-size: 70px;
}

h3 {
	font-size: 30px;
}

p {
	margin: 0 0 10px;
}

.header {
    padding: 30px, 20px, 0;
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

/*nav li {
    display: inline-block;
}*/

.menu li {
    display: inline-block;
}

.menu a{
    padding: 10px 15px; /* top, bottom, left right top,  right, bottom, left */
    text-decoration: none;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    color:var(--fioletowy);
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
	.menu {
		display: none;
	}

	.menu li {
		display: block;
	}

	.menu a {
		display: inline-block;
	}

	.mobile-menu-icon {
		display: inline-block;
	}

	.mobile-menu-icon:hover {
		cursor: pointer;
	}
	
	/* zmiana ikony na "x" po najechaniu */
	.mobile-menu-icon.opened i:before {
		content: "\f00d";
	}

	.menu.opened {
		display: block;
		position: absolute;
		top: 60px;
		right: 20px;
		text-align: right;
	}
}


.hero-section {
    background: url(../images/tło1.jpg) no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
}

.hero-title {
    font-weight: 700;
    font-size: 120px;
    line-height: 1;
    margin: 100px 0 40px;
}

.hero-lead {
    font-size: 22px;
    max-width: 45%;
    margin-bottom: 50px;
    color: var();
}

.hero-button {
    color:var(--fioletowy);
    background-color: var(--niebieski);
    border: 3px solid var(--różowy);
    text-decoration: none;
    padding: 8px 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.hero-button:hover {
    background-color: var(--różowy);
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 90px;
    }

    .hero-lead {
        font-size: 20px;
        max-width: 100%;
    }
}

/* about section */
.about-section {
    padding: 120px;
}

.about-image {
    text-align: center;
    max-height: 550px;
    position: relative;
}

.about-image img {
	max-height: 550px;
}

.about-image::before {
    content: "";
    border: 10px solid var(--niebieski);
    position: absolute;
    top: -30px;
    left: -30px;
    width: 485px;
    height: 308px;
    box-sizing: border-box;
    z-index: -1;
}

.about-image::after {
    content: "";
    background: var(--różowy);
    position: absolute;
    top: 35px;
    left: 35px;
    width: 485px;
    height: 308px;
    box-sizing: border-box;
    z-index: -2;
}

@media screen and (max-width:768px) {
	.about-image::before {
		content: "";
		border: 10px solid var(--niebieski);
		position: absolute;
		top: -20px;
		left: -20px;
		width: 312px;
		height: 198px;
		box-sizing: border-box;
		z-index: -1;
	}
	
	.about-image::after {
		content: "";
		background: var(--różowy);
		position: absolute;
		top: 20px;
		left: 20px;
		width: 312px;
		height: 198px;
		box-sizing: border-box;
		z-index: -2;
	}
}

/*SECTION*/
section {
    padding: 100px;
}

.interests-section {
    background-color:var(--niebieski);
}

.quote-section {
    background-color:var(--różowy);
}

/* Flexbox column*/
.columns-container {
    display: flex;
    justify-content: space-between;
}

.columns-2-container .columns{
    width: 45%;
}

.columns-3-container {
    flex-wrap: wrap;
    row-gap: 25px;
}

.columns-3-container .columns{
    width: 30%;
}

.columns-4-container .columns{
    text-align: center;
    flex-basis: 20%;
}


@media screen and (max-width: 768px) {
    .columns-container {
        flex-direction: column;
    }

    .columns-2-container .columns,
    .columns-3-container .columns {
        width: 100%;
    }

    .columns-4-container {
        row-gap: 20px;
    }
}


/* interests section */

.interests-name {
    color: var(--fioletowy);
    font-size: 40px;
    margin: 20px 0;
}

.interests-text {
    padding: 0 10px;
    font-size: 18px;
}

.columns i {
    color: var(--różowy);
    font-size: 40px;
}

.interests-section i {
    border: 3px solid var(--różowy);
    padding: 25px;
    border-radius: 50px;
}


/* photos-section */

.photos-section img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.photos-title {
    text-align: center;
    margin-bottom: 10px;
    color: var(--różowy);
}

.photos-text {
    text-align: center;
    color: var(--niebieski);
    margin: 0 auto;
    margin-bottom: 40px;
}

.photos-section figcaption {
    font-size: 14 px;
    margin-bottom: 0;
    text-align: center;
    color: var(--różowy)
}

/* quote section */

.quote-section {
    padding: 80px 0;
    overflow: hidden;
	position: relative;
}

.quote-section::after {
    content: "";
    background-color:var(--niebieski);
    position: absolute;
    right: -90px;
    bottom: -75px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
	.quote-section::after {
        content: "";
        background-color:var(--niebieski);
        position: absolute;
        right: -90px;
        bottom: -75px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
	}
}

/* contact form */

.contact-title {
    text-align: center;
    margin-bottom: 40px;
    color: var(--fioletowy);
}

.contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
}

.contact-form label {
    padding-top: 10px;
    padding-bottom: 5px;
    color: var(--fioletowy);
}

.contact-form input,
.contact-form textarea {
    border: 3px solid var(--niebieski);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15 px;
}

.contact-button {
    color: var(--fioletowy);
    background-color: var(--niebieski);
    border: 3px solid var(--różowy);
    text-decoration: none;
    padding: 10px 40px;
    margin: 30px auto 0;
    display: block;
    font-size: 20px;
    text-transform: uppercase;  
}

.contact-button:hover {
    color: var(--fioletowy);
    background-color: var(--różowy);
}

/* project section */

.projects-section input {
    border: 3px solid var(--niebieski);
    border-radius: 5px;
}

.projects-section button {
    color: var(--fioletowy);
    background-color: var(--niebieski);
    border: 3px solid var(--różowy);
    text-decoration: none;
}

.projects-section button:hover {
    color: var(--fioletowy);
    background-color: var(--różowy);
}

.projects-section li i,
.projects-section li a {
    color: var(--różowy);
}

.projects-section li i:hover,
.projects-section li a:hover {
    color: var(--fioletowy);
}


/* footer */

/* .columns-2-container {
    justify-content: space-around;
} */

.footer {
    padding: 30px 0;
    background-color: var(--niebieski);
}

.social,
.copyright {
    width: 45%;
    display: inline-block;
}

.social {
    text-align: right;
}

.social a {
    color: var(--różowy);
    text-decoration: none;
}

.copyright {
    font-size: 18px;
}